@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

* {
	scroll-behavior: smooth;
	font-family: 'Inter', 'Sans-Serif';
	font-weight: bold;
	overflow-x: hidden;
}

html,
body {
	max-width: 100vw;
}

@media screen and (max-width: 600px) {
	.img-landing {
		display: none;
	}
}

#root {
	background: linear-gradient(
		90deg,
		rgba(0, 119, 182, 1) 0%,
		rgba(10, 186, 181, 1) 100%
	);
}

#home {
	position: relative;
	overflow-y: hidden;
	max-height: fit-content;
}

.g-text {
	background: -webkit-linear-gradient(
		right,
		rgba(10, 186, 181, 1) 0%,
		rgba(0, 119, 182, 1) 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.svg-gradient {
	fill: url(#blue-gradient) !important;
}
