@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
	scroll-behavior: smooth;
	font-family: MontSerrat, 'sans-serif';
	font-weight: bold;
	overflow-x: hidden;
}

html,
body {
	max-width: 100vw;
}

@media screen and (max-width: 600px) {
	.img-landing {
		display: none;
	}
}

#home {
	position: relative;
	background: transparent;
	overflow-y: hidden;
}

#home::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url('https://i.ibb.co/GJKnPJZ/image.png');
	background-size: cover;
	background-repeat: repeat-x;
}

.g-text {
	background: -webkit-linear-gradient(#0abab5, #0077b6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.svg-gradient {
	fill: url(#blue-gradient) !important;
}
